<div>
  <%= form_with(model: category) do |form| %>
    <div class="header">
      <%= link_to 'Back', categories_path %>
      <div>
        <h2 class="title">New Category</h2>
      </div>
      <%= form.submit "Save"%>
    </div>
    <%= render "devise/shared/error_messages", resource: category %>
    <div>
      <%= form.text_field :name, autocomplete: "name", placeholder: "Name", class: "input", required: true %>
      <%= form.text_field :icon, autocomplete: "icon", placeholder: "Icon", class: "input", required: true %>
    </div>
  <% end %>
</div>
