<p id="notice"><%= notice %></p>
<header>
  <nav>
    <h1>Categories</h1>
    <%= link_to "Log out", destroy_user_session_path, class: "action", method: :delete %>
  </nav>
</header>
<ul>
  <% if @categories.empty? %>
    <div>
      No categories for now
    </div>
  <% else %>
    <% @categories.each do |category| %>
      <%= category.name %>
      <%= category.icon %>
      <%= category.total_amount %>
      <%= category.created_at.strftime('%-d %h %Y')%>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Add a new category', new_category_path %>
