<%= form_with(model: activity) do |form| %>
  <div class="header">
      <%= link_to 'Back', activities_path, class: "button" %>
      <div>
        <h2 class="title">New Transaction</h2>
      </div>
      <%= form.submit "Save" %>
  </div>
  <%= render "devise/shared/error_messages", resource: activity %>
  <div>
    <%= form.text_field :name, autofocus: true, placeholder: "Name", class: "input", required: true %>
    <%= form.number_field :amount, placeholder: "Amount", class: "input", required: true %>
    <%= form.collection_select :category_ids, current_user.categories.order(:name), :id, :name, {}, { class: "input", multiple: true } %>
  </div>
<% end %>
